<html>
<head>
  <title>admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
</head>
<body class="body">
  <section>
    <div class="heder_main">
      <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-9 col-7">
          <div class="logo">
            <img src="image/Emailer Layout 1.png">
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-5 right-head">
          <div class="certi">
            <img src="image/Emailer Layout 2.png">
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section class="banner">
      <div class="banner_main">
          <img src="image/banner_1.png">
          <div class="banner_dis">
            <h2>Lorem ipsum</h2>
            <p>Dolor sit amet consectetur<br>adipiscing elit.</p>
          </div>
      </div>
  </section>
  <section class="dolor">
    <div class="">
      <div class="dolor_head">
        <h3>Dolor sit amet consectetur adipiscing elit.</h3>
      </div>
      <div class="dolor_dis">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-6">
            <div class="do_first">
              <img src="image/image1.png">
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-6">
            <div class="do_first">
              <img src="image/image2.png">
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-6">
            <div class="do_first">
              <img src="image/image3.png">
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-6">
            <div class="do_first">
              <img src="image/image4.png">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="moll">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12 left_img">
        <div class="moll_img">
          <img src="image/Emailer Layout 3.png">
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-12">
        <div class="moll_dis">
          <h3>Imperdiet sed euismod nisi<br>porta lorem mollis.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery">
    <div class="ga_head">
      <h3>Dolor sit amet consectetur adipiscing elit.</h3>
      <p>Lorem ipsum sed do eiusmod tempor incididunt ut labore.</p>
    </div>
    <div class="ga_first">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="ga_img">
             <img src="image/Emailer Layout 4.png">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="ga_dis">
            <p>Imperdiet sed euismod nisi lorem</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="ga_img">
             <img src="image/Emailer Layout 6.png">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="ga_dis">
            <p>Imperdiet sed euismod nisi lorem</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="ga_img">
             <img src="image/Emailer Layout 5.png">
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-12">
          <div class="ga_dis">
            <p>Imperdiet sed euismod nisi lorem</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ga_con">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </section>
  <section class="footer">
    <div class="fo_icon">
      <img src="image/Emailer Layout 7.png">
    </div>
    <p>Rupam building, 5<sup>th</sup> floor,239, P D'mello Road,Fort. Mumbai-400001</p>
    <ul>
      <li>
        <a href="tel:+91 2269078100" class="number"><img src="image/Emailer Layout 8.png"><span>+91 2269078100</span></a>
      </li>
      <li>
        <a href="#"><img src="image/Emailer Layout 9.png"><span>www.forbesfacility.com</span></a>
      </li>
      <li>
        <a href="mailto:info@forbesfacility.com"><img src="image/Emailer Layout 10.png"><span>info@forbesfacility.com</span></a>
      </li>
    </ul>
  </section>
  <div class="bl_color"></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>